<div>
    <title>Rejected Application Details</title>
    <table class="table table-bordered">                            
    <thead>
    <tr>
                <th>Apl. no.</td>
                <th>School</th>
                <th>Block</th>
                <th>Division</th>
                <th>District</th>
                <th>Status</th>
                <th>Apl Dt.</th>
                <th>End Date </th>
            </tr>
            </thead>
         </table>






</div>