<div>
    <h3>Rejected Application Details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apl. no.</td>
                <th>School</th>
                <th>Block</th>
                <th>Division</th>
                <th>District</th>
                <th>Status</th>
                <th>Apl Dt.</th>
                <th title="Remaining Date">End Date </th>
            </tr>
        </thead>
        <tbody>
                        
            <tr>

                <td> </td>
                <td><a href='showData/35'>Vani Vidya Mandir </a></td>

                <td>Rajnagar</td>
                <td>Kolhan</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/37'>VIDYA BHARATI SCHOOL </a></td>

                <td>Rajnagar</td>
                <td>Kolhan</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/43'>VIDYA BHARATI SCHOOL </a></td>

                <td>Rajnagar</td>
                <td>North Chhotanagpur</td>
                <td>BOKARO</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/46'>Gyan Jyoti School </a></td>

                <td>Gamharia</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/62'>VIDYA Jyoti SCHOOL </a></td>

                <td>Kuchai</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/63'>KPS SCHOOL </a></td>

                <td>Kuchai</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/64'>Gyan Jyoti School </a></td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/65'>Vani Vidya Mandir </a></td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td><a href='showData/66'>VIDYA BHARATI HIGH SCHOOL </a></td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td>

                                    
            </tr>
                    </tbody>
    </table>

</div>