<div>
    <h3>Rejected Application Details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apl. no.</td>
                <th>School</th>
                <th>Block</th>
                <th>Division</th>
                <th>District</th>
                <th>Status</th>
                <th>Apl Dt.</th>
                <th title="Remaining Date">End Date </th>
            </tr>
        </thead>
        <tbody>
            Illuminate\Support\Collection Object
(
    [items:protected] => Array
        (
            [0] => stdClass Object
                (
                    [id] => 35
                    [apllication_id] => 
                    [school_name] => Vani Vidya Mandir
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 253
                    [district] => 22
                    [division] => 290
                    [application_status] => 11
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Rajnagar
                    [Division] => Kolhan
                    [status_name] => Rejected by 1st Appellate Authority
                )

            [1] => stdClass Object
                (
                    [id] => 37
                    [apllication_id] => 
                    [school_name] => VIDYA BHARATI SCHOOL
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 253
                    [district] => 22
                    [division] => 290
                    [application_status] => 11
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Rajnagar
                    [Division] => Kolhan
                    [status_name] => Rejected by 1st Appellate Authority
                )

            [2] => stdClass Object
                (
                    [id] => 43
                    [apllication_id] => 
                    [school_name] => VIDYA BHARATI SCHOOL
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 253
                    [district] => 1
                    [division] => 291
                    [application_status] => 11
                    [Disrict] => BOKARO
                    [Block] => Rajnagar
                    [Division] => North Chhotanagpur
                    [status_name] => Rejected by 1st Appellate Authority
                )

            [3] => stdClass Object
                (
                    [id] => 46
                    [apllication_id] => 
                    [school_name] => Gyan Jyoti School
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 254
                    [district] => 22
                    [division] => 292
                    [application_status] => 14
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Gamharia
                    [Division] => Palamu
                    [status_name] => Rejected by 2nd Appellate Authority
                )

            [4] => stdClass Object
                (
                    [id] => 62
                    [apllication_id] => 
                    [school_name] => VIDYA Jyoti SCHOOL
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 255
                    [district] => 22
                    [division] => 292
                    [application_status] => 14
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Kuchai
                    [Division] => Palamu
                    [status_name] => Rejected by 2nd Appellate Authority
                )

            [5] => stdClass Object
                (
                    [id] => 63
                    [apllication_id] => 
                    [school_name] => KPS SCHOOL
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 255
                    [district] => 22
                    [division] => 292
                    [application_status] => 14
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Kuchai
                    [Division] => Palamu
                    [status_name] => Rejected by 2nd Appellate Authority
                )

            [6] => stdClass Object
                (
                    [id] => 64
                    [apllication_id] => 
                    [school_name] => Gyan Jyoti School
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 253
                    [district] => 22
                    [division] => 292
                    [application_status] => 14
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Rajnagar
                    [Division] => Palamu
                    [status_name] => Rejected by 2nd Appellate Authority
                )

            [7] => stdClass Object
                (
                    [id] => 65
                    [apllication_id] => 
                    [school_name] => Vani Vidya Mandir
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 253
                    [district] => 22
                    [division] => 292
                    [application_status] => 14
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Rajnagar
                    [Division] => Palamu
                    [status_name] => Rejected by 2nd Appellate Authority
                )

            [8] => stdClass Object
                (
                    [id] => 66
                    [apllication_id] => 
                    [school_name] => VIDYA BHARATI HIGH SCHOOL
                    [created_at] => 2020-01-01 00:00:00
                    [block] => 253
                    [district] => 22
                    [division] => 292
                    [application_status] => 14
                    [Disrict] => SARAIKELA KHARSAWAN
                    [Block] => Rajnagar
                    [Division] => Palamu
                    [status_name] => Rejected by 2nd Appellate Authority
                )

        )

)
            
            <tr>

                <td> </td>
                <td>Vani Vidya Mandir </td>

                <td>Rajnagar</td>
                <td>Kolhan</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA BHARATI SCHOOL </td>

                <td>Rajnagar</td>
                <td>Kolhan</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA BHARATI SCHOOL </td>

                <td>Rajnagar</td>
                <td>North Chhotanagpur</td>
                <td>BOKARO</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>Gyan Jyoti School </td>

                <td>Gamharia</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA Jyoti SCHOOL </td>

                <td>Kuchai</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>KPS SCHOOL </td>

                <td>Kuchai</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>Gyan Jyoti School </td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>Vani Vidya Mandir </td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA BHARATI HIGH SCHOOL </td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
                    </tbody>
    </table>

</div>