<div>
    <h3>Rejected Application Details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apl. no.</td>
                <th>School</th>
                <th>Block</th>
                <th>Division</th>
                <th>District</th>
                <th>Status</th>
                <th>Apl Dt.</th>
                <th title="Remaining Date">End Date </th>
            </tr>
        </thead>
        <tbody>
                        
           
            
           
            
           
            
           
            
           
            
           
            
           
            
           
            
           
                    </tbody>
    </table>

</div>