<div>
    <title>Rejected Application Details</title>
    <table class="table table-bordered">                            
    <thead>
    <tr>
                <th>Apl. no.</td>
                <th>School</th>
                <th>Block</th>
                <th>Division</th>
                <th>District</th>
                <th>Status</th>
                <th>Apl Dt.</th>
                <th title="Remaining Date">End Date </th>
            </tr>
            </thead>
            <tbody>
                        
            <tr>

                <td> </td>
                <td>Vani Vidya Mandir </td>

                <td>Rajnagar</td>
                <td>Kolhan</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA BHARATI SCHOOL </td>

                <td>Rajnagar</td>
                <td>Kolhan</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA BHARATI SCHOOL </td>

                <td>Rajnagar</td>
                <td>North Chhotanagpur</td>
                <td>BOKARO</td>
                <td>Rejected by 1st Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>Gyan Jyoti School </td>

                <td>Gamharia</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA Jyoti SCHOOL </td>

                <td>Kuchai</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>KPS SCHOOL </td>

                <td>Kuchai</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>Gyan Jyoti School </td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>Vani Vidya Mandir </td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
            
            <tr>

                <td> </td>
                <td>VIDYA BHARATI HIGH SCHOOL </td>

                <td>Rajnagar</td>
                <td>Palamu</td>
                <td>SARAIKELA KHARSAWAN</td>
                <td>Rejected by 2nd Appellate Authority</td>
                <td>01/01/2020</td>
                 <td>31/01/2020

                                        <span class="text-danger"> ( -281 days ) </span>
                                        </td> 

                                    
            </tr>
                    </tbody>
         </table>






</div>