<div>
    <title>Schools Details</title>
    <table class="table table-bordered">                            
    <thead>
              <tr style="width: 100%;">
                <th style="width: 20%;">UDISE Code</th>
                <th style="width: 20%;">School Name</th>
                <th style="width: 20%;">School Email</th>
                 <th style="width: 20%;">Username</th>
              <!--  <th style="width: 20%;">Block</th> -->
                <!-- <th style="width: 20%;">State</th> -->
                <!-- <th style="width: 20%;">Status</th> -->
                <th style="width: 20%;">User Email</th>
                <th style="width: 20%;">Created At</th>
              </tr>
            </thead>
            <tbody>
              

                <td>BC11</td>
                <td>Baba children high school</td>
                <td>bchs@gmail.com</td>
                <td>S.D.M.S Schools</td>
                <td>school@gmail.com</td>
                <td>
                  08/12/2020 04:42 AM
                  <!-- date('d-m-Y', strtotime(@$data->created_at)); -->
                </td>
         
              </tr>
              

                <td>BC11</td>
                <td>Baba children high school</td>
                <td>bchs@gmail.com</td>
                <td>Sonu</td>
                <td>sonu@gmail.com</td>
                <td>
                  08/12/2020 04:42 AM
                  <!-- date('d-m-Y', strtotime(@$data->created_at)); -->
                </td>
         
              </tr>
              

                <td>iui</td>
                <td>Vidya Jyoti High School</td>
                <td>S@gmail.com</td>
                <td>Sanjay singh</td>
                <td>sajays@gmail.com</td>
                <td>
                  10/12/2020 08:49 AM
                  <!-- date('d-m-Y', strtotime(@$data->created_at)); -->
                </td>
         
              </tr>
              

                <td>BC11</td>
                <td>Baba children high school</td>
                <td>bchs@gmail.com</td>
                <td>Vani Vidya</td>
                <td>sanjeetkumar0673@gmail.com</td>
                <td>
                  08/12/2020 04:42 AM
                  <!-- date('d-m-Y', strtotime(@$data->created_at)); -->
                </td>
         
              </tr>
                          
           </tbody>
         </table>

</div>