.w-5{
    display: inline;
    height: 30px;
}

.goog-te-combo 
option[value=af] {display: none;}
option[value=sq] {display: none;}
option[value=am] {display: none;}
option[value=ar] {display: none;}
option[value=hy] {display: none;}
option[value=az] {display: none;}
option[value=eu] {display: none;}
option[value=be] {display: none;}
option[value=bn] {display: none;}
option[value=bs] {display: none;}
option[value=bg] {display: none;}
option[value=ca] {display: none;}
option[value=ceb] {display: none;}
option[value=ny] {display: none;}
option[value=zh-CN] {display: none;}
option[value=zh-TW] {display: none;}
option[value=co] {display: none;}
option[value=hr] {display: none;}
option[value=cs] {display: none;}
option[value=da] {display: none;}
option[value=nl] {display: none;}
option[value=eo] {display: none;}
option[value=et] {display: none;}
option[value=tl] {display: none;}

option[value=fi] {display: none;}
option[value=fr] {display: none;}
option[value=fy] {display: none;}
option[value=gl] {display: none;}
option[value=ka] {display: none;}
option[value=de] {display: none;}
option[value=el] {display: none;}
option[value=gu] {display: none;}
option[value=ht] {display: none;}
option[value=ha] {display: none;}
option[value=haw] {display: none;}
option[value=iw] {display: none;}
option[value=hmn] {display: none;}
option[value=hu] {display: none;}
option[value=is] {display: none;}
option[value=ig] {display: none;}
option[value=id] {display: none;}
option[value=ga] {display: none;}
option[value=it] {display: none;}
option[value=ja] {display: none;}
option[value=jw] {display: none;}
option[value=kn] {display: none;}
option[value=kk] {display: none;}
option[value=km] {display: none;}

option[value=rw] {display: none;}
option[value=ko] {display: none;}
option[value=ku] {display: none;}
option[value=ky] {display: none;}
option[value=lo] {display: none;}
option[value=la] {display: none;}
option[value=lv] {display: none;}
option[value=lt] {display: none;}
option[value=lb] {display: none;}
option[value=mk] {display: none;}
option[value=mg] {display: none;}
option[value=ms] {display: none;}
option[value=ml] {display: none;}
option[value=mt] {display: none;}
option[value=mi] {display: none;}
option[value=mr] {display: none;}
option[value=mn] {display: none;}
option[value=my] {display: none;}
option[value=ne] {display: none;}
option[value=no] {display: none;}
option[value=or] {display: none;}
option[value=ps] {display: none;}
option[value=fa] {display: none;}
option[value=pl] {display: none;}

option[value=pt] {display: none;}
option[value=pa] {display: none;}
option[value=ro] {display: none;}
option[value=ru] {display: none;}
option[value=sm] {display: none;}
option[value=gd] {display: none;}
option[value=sr] {display: none;}
option[value=st] {display: none;}
option[value=sn] {display: none;}
option[value=sd] {display: none;}
option[value=si] {display: none;}
option[value=sk] {display: none;}
option[value=sl] {display: none;}
option[value=so] {display: none;}
option[value=es] {display: none;}
option[value=su] {display: none;}
option[value=sw] {display: none;}
option[value=sv] {display: none;}
option[value=tg] {display: none;}
option[value=ta] {display: none;}
option[value=tt] {display: none;}
option[value=te] {display: none;}
option[value=th] {display: none;}
option[value=tr] {display: none;}

option[value=tk] {display: none;}
option[value=uk] {display: none;}
option[value=ur] {display: none;}
option[value=ug] {display: none;}
option[value=uz] {display: none;}
option[value=vi] {display: none;}
option[value=cy] {display: none;}
option[value=xh] {display: none;}
option[value=yi] {display: none;}
option[value=yo] {display: none;}
option[value=zu] {display: none;}