@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.shift img {
    float: left;
}

.headerLogo {
    position: relative;
}

.navbar {
    margin-bottom: 0px !important;
}

@media screen and (max-width:768px) {
    .shift img {
        width: 100%;
        margin: 19px 0;
        height: 35px;
        width: 263px;
    }

    .headerLogo .shift .logo_emblem {
        margin: 4px -18px;
        height: 36px !important;
        width: 36px !important;
    }

    nav .navbar-collapse ul li {
        border-right: none;
        margin-right: 65px;
    }

    header .navigation .container-fluid .shift .col-md-10 .navbar-toggler {

        outline: none !important;
        background: white;
    }
}

.logo h4 {
    font-weight: 700;
    letter-spacing: 1px;
}

section {
    position: relative;
}

.slider {
    position: relative;
    min-height: auto;
}

.slider .overlay {
    background: rgb(0, 0, 0, .45);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 99;
}
footer ul {
    margin-top:14px;
}

    /* sanjiv changes */
/* nav ul li{
    border-right:1px solid white;
} */
ul li {
    /* border-right: 1px solid white; */
    margin-right: 8px;
    margin-right:20px;
    display:inline;
   
}

/* ul li a {
    color: white !important;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
   
} */
.nav-pl{
    padding-left:120px !important;
}
ul  .facebook:hover{
    background:red;
}


.sec2 h1 {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.sec2 {
    height: 300px;
}

.sec2 .box img {
    width: 200px;
}

.sec3 {
    background: white;
    height: 100%;
}

button .navbtn {
    background: red;
}

/* navigation css */

/* nav ul li a {
    display: block;
    text-decoration: none;
    color: #aaa;
    text-transform: capitalize;
} */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

/* nav ul li a:hover {
    color: white !important;
} */

/* SHIFT */
nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: #91640F;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #153e90;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* sanjiv changes */

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 0px;
        padding: 0;
    }
}

/* sanjiv */
.navbar-container{
    display:flex;
    justify-content: center;
}

@media (min-width:1268px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

/* sanjiv commented*/

/* .navbar .nav-item .nav-link {
    padding: 10px 15px;
} */
@media (min-width:900px){
    nav{
        margin-left:432px;
    }
}
@media screen and (max-width:1200px) {
    .navbar .nav-item .nav-link {
        padding: 10px 6px;
    }

    ul li {
        border-right: 1px solid white;
    }

    ul li:hover {
        background: #2e61bf;
    }
}


@media screen and (max-width:991px) {
    ul li {
        border-right: none;
    }
}

nav .brand {
    margin: 15px 0;
    font-size: 35px;
    color: rgb(99, 86, 202);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


.contact .info-box {
    /*color: #444444;*/
    text-align: center;
   /* box-shadow: 0 0 30px rgb(214 215 216 / 30%);*/
    padding: 20px 0 30px 0;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
}
.bx {
    font-family: 'boxicons'!important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
img.logo_emblem.pull-right.display-img {
    float: right;
}
 .social-links {
    margin: 0 0 40px 0;
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ef6603;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.contact .info-box {
    color: #444444!important;
    text-align: center;
    /* box-shadow: 0 0 30px rgb(214 215 216 / 30%); */
    padding: 20px 0 30px 0;
    background: #fff;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
footer {
    /* background: #0e49b5; */
    background: #0f4c75;
    color: white;
    padding: 13px 0;
}
/*footer Rohit*/

.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px!important;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:20px;
    margin-bottom:50px;
}

    @media(max-width:991px)
{
.logo_image{
    width:100%;
    height:100%;
}
.navbar-btn {
    float: right;
}
.collapse:not(.show) {
    display: none;
}
.display-img{
    display:none;
}

}
.collapse.in {
    display: block !important;
}

.collapse:not(.show) {
    display: none;
}
.nav-css{
background:#0e49b5;
}

.nav-tog{
background:white;
outline:none;
}

.nav-icon{
margin-top: 6px;
}
.drop-menu{
margin-top:10px;
margin-left:6px;
}

@media(min-width:768px)
{
    .navbar-collapse.collapse {
    display: block ;
    height: auto ;
    padding-bottom: 0;
    overflow: visible !important;
}

}

/* sanjiv removed width*/
.display-img{
    height:107px;
    /* width:120px; */
    /* margin:8px; */
    margin-top:10px;
}


.about-h1{
font-size:45px;
}
.about-span{
border-bottom:2px solid grey;
}
.about-p{
font-size:15px;
}

.rounded{
width:400px;
height:400px;
margin-top:40px;
max-width:100%;
}

.text-p{
margin:15px 0;
font-size: 16px;
 font-weight:500;
}


footer .contactus p i {
    padding-right: 10px;
}


footer .socialIcons {
    padding-top: 30px;
}
.imgbox{
    border:1px solid white;
    padding:20px;
    line-height:9px;
    margin:15px 0;
    border-radius:5px;
    background:#0e49b5;color:white; 
}
footer .socialIcons {
    margin-right: 20px;
}

/*footer ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    box-shadow: 1px 1px 5px white;
    border: 1px solid white;
    padding: 15px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}*/

/* footer ul li:hover {
    padding: 20px;
    border-radius: 50px;
    background: rgb(0, 0, 0, .45);
    color: white;
} */

footer ul li a i {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/*Rohit*/
.index-h5{
font-weight:700;
font-size: 15px;
}
.img-index
{
width:80px;
height:80px;
border-radius:50%;
display:flex;
justify-content:center;

}



ul li .dropdown-menu .dropdown-item a {
    color: white !important;
}

section .container .imgbox h5 p {
    line-height: 14px;
}

.nav-item a {
    padding: 0px 3px;
}


.sec3 {
    z-index: 99;
    position: relative;
    padding: 30px 0;
}

.sec3 .imgbox {
    cursor: pointer;
    padding: 30px 20px;
    background: #0E49B5;
    display: block;
    width: 100%;
    height: 137px;
    position: relative;
    z-index: 9;
    transition: .2s;
    margin: 5px;
}

.sec3 .imgbox .imgpanel {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-right: 25px;
    position: relative;
}

.sec3 .imgbox .imgtxt {
    display: inline-block;
    vertical-align: middle;
    width: 71%;
    color: white;

}