@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



.header-nav {

    background: grey;

}



body {

    font-family: 'Montserrat', sans-serif;

}



.loginbox {

    background: white;

    border: 1px solid black;

    width: 100%;

    margin: 100px auto;

}



.loginbox .logintxt {

    display: flex;

    justify-content: center;

    margin: 10px;

}



.loginbox .logintxt h2 {

    color: #2196f3;

    border-bottom: 2px solid #2196f3;

    padding: 10px;

}



.loginbox .logoimg {

    display: flex;

    justify-content: center;

    margin-top: 20px;

}



.loginbox .box {

    padding: 20px 40px;

}



.loginbox .logoimg a img {

    width: 100px;

    height: 100px;

}



.captchabox input {

    margin-top: 26px;

    width: 100%;

}



.loginbtn {

    text-align: center;

    width: 170px;

    font-size: 18px;

    margin-top: 30px;

}



form .loginbtn {

    border: none !important;

    font-size: 19px;

}



.login-block {

    /* background: url('../images/auth/login/background.png') no-repeat; */
    background: url('../images/gallery/JCERT_Login2.jpg') no-repeat; 
    background-size: cover;

    height: 100vh;

    float: left;

    width: 100%;

    padding: 50px 0;

}



.login-block .logoimg img {

    width: 106px;

    height: 100px;

    margin-left: 125px;

}



.banner-sec {

    background-size: cover;

    min-height: 500px;

    border-radius: 0 10px 10px 0;

    padding: 0;

}



.container {

    /* background: rgb(0, 0, 0, .55); */

    border-radius: 10px;

    padding-right: 0;

}



.carousel-inner {

    border-radius: 0 10px 10px 0;

}



.carousel-caption {

    text-align: left;

    left: 5%;

}



.login-sec {

    padding: 20px 30px;

    position: relative;

}



.login-sec .copy-text {

    position: absolute;

    width: 80%;

    bottom: 20px;

    font-size: 13px;

    text-align: center;

}



.login-sec .copy-text i {

    color: #2196f3;

}



.login-sec .copy-text a {

    color: #2196f3;

}



.login-sec h2 {

    margin-bottom: 30px;

    font-weight: 700;

    font-size: 30px;

    color: #ffffff;

}



.login-sec h2:after {

    content: " ";

    width: 100px;

    height: 3px;

    background: #2196f3;

    display: block;

    margin-top: 10px;

    border-radius: 3px;

    margin-left: auto;

    margin-right: auto
    
}



.banner-text {

    width: 70%;

    position: absolute;

    bottom: 40px;

    padding-left: 20px;

}



.banner-text h2 {

    color: #fff;

    font-weight: 600;

}



.banner-text h2:after {

    content: " ";

    width: 100px;

    height: 5px;

    background: #FFF;

    display: block;

    margin-top: 20px;

    border-radius: 3px;

}



.labeltxt {

    color: white;

    font-weight: 300;
    font-size:16px;

}





.banner-text p {

    color: #fff;

}



.inputbox {

    display: block;

    width: 100%;

    height: 34px;

    background: rgb(0, 0, 0, .45);

    border: none !important;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    padding: 20px;

    color: white;

}



.inputbox:focus {

    background: rgb(0, 0, 0, .65) !important;

    border: none !important;

    outline: none;

}



.pswd_link {

    color: #ffff !important;



}



@media screen and (max-width: 768px) {

    .login-block .container .sliderlogin {

        display: none;

    }



    .loginbox .box {

        padding: 0px;

    }



    .loginbox .box .loginbtnbox {

        margin-top: 15px;

        margin-bottom: 15px;



    }



    .loginbox .box .loginbtnbox {

        margin-left: 27%;

    }



    .container .sliderimg {

        margin-top: 90px;

        margin-bottom: 30px;



    }

    /* sanjit login blade css */
    .font-medium-login{
        padding-left:30px;
    }
    .alert-msg-login{
        color:white !important;
        font-size: 16px;
        background-color: rgb(231, 53, 53);
    }



}